.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
application/frontend/logs/*
!application/frontend/logs/index.html
!application/frontend/logs/.htaccess
application/backend/logs/*
!application/backend/logs/index.html
!application/backend/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Sensitive info
#-------------------------
application/frontend/config/database.php
application/backend/config/database.php
public/captcha/*

# Images
#-------------------------
images/
tmp/
